:root {
  --color-textPrimary: #000;
  --color-textWhite: #fff;
  --color-blue500: #407bfe;
  --color-gray: #ebebeb;
  --color-gray200: #ced4da;
  --color-gray300: #495057;
  --color-gray500: #0000008c;
  --color-yellow: #f8ce0b;
}
