.movies {
  padding-top: 120px;
}

.wrapperImage {
  overflow: auto;
  display: flex;
  margin: 0 -12px;
  white-space: nowrap;
}

.image {
  margin: 0 12px;
}

.titleCategory {
  font-size: 24px;
  font-weight: 400;
  margin: 12px 0;
}

.containerMovies {
  padding-left: 24px;
}
